# Objects and Binaries
*.o

# Ignore everything in these folders
exercises/**
projects/**

# Un-ignore the directory structure
!exercises/**/
!projects/**/

# Un-ignore specific source/build files
!exercises/**/*.asm
!projects/**/*.asm
!exercises/**/Makefile
!projects/**/Makefile

# Optional: Editor and Debugger artifacts
.gdb_history
.vscode/
*~
